p { color: white;
			font-size:20px;
			font-align:center;
            font-family:verdana; 
		    
		}
		
		li { color:snow; 
		     font-style:normal;
             font-family:comic sans MS; 
		     }
		h2 { color: white;
             font-family:arial 
			
		     }

         h1 { color: lavender; 
              font-family:comic sans MS; 
              font-style: normal 
               
              }